.login-section{
    /* position: relative;  */
    margin: 100px;
    padding-top: 5.2rem;
    padding-bottom: 0;
}

button {
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    padding: .8rem 1.6rem;
    margin: 0;
    text-decoration: none;
    background: #00587a;
    color: #ffffff;
    font-family: poppins;
    font-size: 1.1rem;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

form{
    font-family: poppins;
    font-size: 500;
}

h4{
    font-family: poppins;
    font-size: 500;
    color:#ffffff;
}

button:hover,
button:focus {
    background: #008891;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }



.login-failed{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 0.25rem;
    padding: .5rem .1rem;
    width: 65%;
    background-color: red;
}

.login-failed-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: aliceblue;
}

.login-failed, .register-success{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 0.25rem;
    padding: .1rem .1rem;
    padding-bottom: 0%;
    width: 65%;
    background-color:red;
}

.login-failed-text, .register-success-text{
    text-align: center;
    padding-top: .3rem;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 5px;
    font-weight: bold;
    color: aliceblue;
}

.toast-top-center {
    top: 20rem;
    margin: 0 auto;
    left: 50%;
    }
