<div class="container">
  <app-navbar-public></app-navbar-public>
  <br>
  <br>
  <br>
  <app-createblogpost></app-createblogpost>
  <!--
  <div class="row">
    <div class="col-lg-9">
      <br>
      <br>
      <div class="panel panel-primary">
        <app-blogpost-panel-list></app-blogpost-panel-list>
      </div>
    </div>
    <div class="col-lg-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      <app-tagbar></app-tagbar>
    </div>
  </div> -->
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>




