
<div class="card">
  <div class="card-header">
    <img [src]="blogpost.imageLink"
         alt="Post Image" class="card-img-top">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ blogpost.title }}</h5>
    <p class="card-text">By: {{ blogpost.userName }}</p>
<!--    <p class="card-text">On: {{ blogpost.updateTimestamp }}</p>-->
    <p class="card-text">{{ blogpost.blurb }}</p>
    <a routerLink="/fullPost/{{ blogpost.id }}" class="btn btn-primary" >Read post...</a>
  </div>
</div>


